
<!DOCTYPE html>
<html lang="en">
<head>


<meta charset="UTF-8">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/welcome.css') }}">
<link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'/>
<link href='style.css' rel='stylesheet' type='text/css' />
<title>Welcome</title>
<body>

    <div class="upperTop">
        <a>This is the Activity for Breakout room</a>
        <img src="https://cdn-icons-png.flaticon.com/512/1451/1451757.png" >
    </div>
    <div class="top">
    <h1 id="welcomeText">Welcome to Project Activity | IP Geolocation Finder.</h1>
    

    <div class= "center">

        <a id ="color" href="index.html"><button id = "round">Click to Continue</a></button>
    </div>

    </div>


</body>