body{

    background-image: url('https://images5.alphacoders.com/575/thumb-1920-575881.jpg');
}
.container {
  background: rgb(255, 255, 255, 0.6);
  width: 320px;
  padding: 10px;
  border: 2px solid black;
  margin: auto;
  font-family: 'Lexend Deca';
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  0%   {background-color:rgb(251, 255, 251); left:0px; top:0px;}
}

table, th, td {
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  font-family: "Lucida Console", 'Courier New', Courier, monospace;
  width: 40%;
  
}


h1{text-align: center;}
div{text-align: center;}

table.center {
  margin-left: auto; 
  margin-right: auto;
}

#round {
  border-radius: 25px;
  background-color: rgb(253,138,16);
  color: rgb(0, 0, 0);
  border: 2px solid black;
  width: 120px;
  height: 50px;
}

#map {
  height: 800px;
  width: 100%;
}

#mapBack{
  margin: auto;
  color: black;
  background-color: blanchedalmond;
  border: 2px solid black;
  font-family: 'Lexend Deca'; font-size: 30px;
  
}

#color{
  color: rgb(0, 0, 0);
}